.content-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

table {
    border-spacing: 0;
}

.cells {
    height: 150px;
    width: 150px;
    border: 3px solid #000;
}

#playing-section,
#tally-section-left,
#tally-section-right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 60px;
}

#tally-section-left {
    order: 1;
    width: 25%;
    background-color: rgb(58, 139, 231);
}

#playing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    order: 2;
    background-color: white;
    text-align: center;
}

#tally-section-right {
    order: 3;
    width: 25%;
    background-color: black;
    color: white;
}

.board {
    margin-top: auto;
    text-align: center;
    background-color: white;
    justify-content: center;
}

#one, 
#four,
#seven {
    border-left: none;
}

#one,
#two,
#three {
    border-top: none;
}

#three,
#six,
#nine {
    border-right: none;
}

#seven,
#eight,
#nine {
    border-bottom: none;
}




