.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

td {
    border: 1px solid #000;
    border-width: 3px;
    height: 100px;
    width: 100px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

.board,
.tally-section-left,
.tally-section-right {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: aquamarine;
}

.tally-section-left {
    order: 1;
}

.board {
    order: 2;
}

.tally-section-right {
    order: 3;
}


